[mysqld]

datadir=/pxc/datadir
innodb_buffer_pool_size         = 1G
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 1G
innodb_file_per_table           = 1
bind_address = 0.0.0.0
wsrep_slave_threads=8
wsrep_provider_options='gcache.size=256M'

wsrep_cluster_address=gcomm://
wsrep_provider=/pxc/lib/libgalera_smm.so

query_cache_size=0
query_cache_type=0

wsrep_cluster_name=Docker
wsrep_node_name=Dock1

innodb_locks_unsafe_for_binlog=1
innodb_autoinc_lock_mode=2

[client]
user=root
password=

[sst]
sst-initial-timeout=1800
